.access {
    display: flex;
    border: none;
    margin-top: 55%;
    background-color: #9BCEFA;
  }

  .cancel {
    display: flex;
    background-color: #FFC1C1;
    border: none;
    margin-top: 25px;
  }