.detail {
    padding: 40px 40px 40px 40px;
    // border-bottom: 1px solid rgb(241, 241, 241);
    // .buttons {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   Text {
    //     padding: 20px;
    //     font-size: 30px;
    //   }
    // }
    .header {
      display: flex;
      margin-bottom: 15px;
      .photo {
        flex: 1;
        margin-left: 40px;
        .at-avatar {
          width: 170px;
          height: 166px;
        }
      }
      .memo {
        flex: 3;
        display: flex;
        flex-direction: column;
        font-size: 30px;
        line-height: 60px;
        font-weight: 700;
        text-align: center;
        padding-right: 40px;
        padding-top: 20px;
        .nickname {
          font-size: 50px;
          margin-bottom: 10px;
        }
      }
    }
    .center {
      padding-left: 200px;
      font-size: 30px;
      View {
        margin-bottom: 35px;
        .clickLook {
          color: blue;
          text-decoration: underline;
        }
      }
    }

    .modify {
      display: flex;
      border: none;
      margin-top: 25px;
      background-color: #9BCEFA;
    }

    .delete {
      display: flex;
      background-color: #FFC1C1;
      border: none;
      margin-top: 25px;
    }
    
  }