@import "~taro-ui/dist/style/components/fab.scss";
.diary {
    padding: 40px;
}

.post-button {
    position: fixed;
    right: 50px;
    bottom: 80px;
    z-index: 10000;
  }
  
.fabButton {
    background-color: #9BCEFA;
}

.at-list__item {
    padding: 5px 24px;
}

.list {
    margin-top: 7%;
}

text {
    font-size: 34px;
}