@import "~taro-ui/dist/style/components/fab.scss";
.diary {
    padding: 40px;
    .card {
      margin-top: 20px;
      font-size: 30px;
      border: 1px solid rgb(241, 241, 241);
      border-radius: 10px;
      padding: 20px;
      box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
      // .tips {
      //   display: flex;
      //   justify-content: space-between;
      //   line-height: 40px;
      //   .icons {
      //     display: flex;
      //     justify-content: space-around;
      //     View {
      //       padding: 0 20px;
      //     }
      //   }

      //   .content {
      //     line-height: 80px;
      //     font-size: 34px;
      //     text-indent: 2em;
      //   }
      // }
    }
    // .photoTypeIn {
    //   position: fixed;
    //   bottom: 170px;
    //   right: 10px;
    //   flex: 1;
    //   margin-right: 40px;
    //   border-radius: 50%;
    
    //   width: 150px;
    //   height: 150px;
    //   background-color: pink;
    //   font-size: 30px;
      
    //   text-align: center;
    //   line-height: 150px;
    
    //   // .at-avatar {
    //   //   width: 150px;
    //   //   height: 150px;
    //   // }
    // }
  }

.post-button {
    position: fixed;
    right: 50px;
    bottom: 80px;
    z-index: 10000;
  }
  
.fabButton {
    background-color: #9BCEFA;
}