@import "~taro-ui/dist/style/components/tabs.scss";

.at-tabs__item {
    color: #efc1c2;
    padding: 10px;
    vertical-align: middle;
    position: relative;
}

.at-tabs__item--active {
    color: ivory;
    background-color: #efc1c2;

}

.at-tabs__item-underline {
    color: #efc1c2;
    background-color: #efc1c2;
}

.post-button {
    position: fixed;
    right: 50px;
    bottom: 80px;
    z-index: 800;

    .fabButton {
        background-color: #9BCEFA;
    }
  }
  
.tab_view {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}