@import "~taro-ui/dist/style/components/icon.scss";
page {
  height: 100%;
}

.top {
  flex: auto;
  // display: flex;
  position: relative;
  flex-direction:column;
  height: 100%;
  bottom: 0;
  top: 0;
}

.op {
  opacity: 0.45
}

.background-image{
  height : 100%;
  position: absolute;
  width: 100%;
  left: 0px;
  top: 0px;
}

.detail {
  height: 90%;
  padding: 40px 40px 40px 40px;
  position: relative;
  color: #203c53;

  .header {
    display: flex;
    margin-bottom: 15px;
    font-size: 25px;
    font-family: fantasy;
    font-weight: 450;
    border-bottom: 3px solid #FFC1C1 ;
    border-radius: 10px;

    .diaryTime {
      padding-left: 8%;
    }

    .mood {
      padding-left: 10%;
    }

    .weather {
      padding-left: 10%;
    }
  } 

  .content {
    text-indent:55px;
  }
}

.modify {
  display: flex;
  border: none;
  background-color: #9BCEFA;
  bottom: -83%;
}

.delete {
  display: flex;
  background-color: #FFC1C1;
  border: none;
  position: fixed;
  bottom: 3%;
  display: flex;
  width: 89%;
}